api_key: __LIVEKIT_API_KEY__
api_secret: __LIVEKIT_API_SECRET__
ws_url: ws://livekit:7880

redis:
  address: redis:6379
  password: "__REDIS_PASSWORD__"

sip_port: 5060
rtp_port: 10000-20000
use_external_ip: false

logging:
  level: info
